* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    background: #111;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* PAGE */
.container {
    padding: 30px;
}

/* CATEGORY SECTION */
.category-section {
    margin-bottom: 60px;
    scroll-margin-top: 80px;
}

.category-section h2 {
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 6px;
    background: #fafafa;
}

.product-card h3 {
    margin-bottom: 10px;
}

/* Product image wrapper */
.card-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #f1f1f1;
}

/* Product image */
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #111;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.btn:hover {
    background: #333;
}

.cart-item {
    border: 2px solid black;
    padding: 15px;
    margin-bottom: 15px;
    /* #ddd */
}

.btn.danger {
    background: crimson;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.btn.small {
    padding: 5px 10px;
    font-size: 14px;
}

.cart-item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.cart-item-image img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.cart-item-details {
    flex: 1;
}