{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>My Store</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/cart.js' %}" defer></script>
</head>


<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <h1 class="logo">MyStore</h1>
        <ul class="nav-links">
            {% for category in categories %}
            <li>
                <a href="#{{ category.slug }}">
                    {{ category.name }}
                </a>
            </li>
            {% endfor %}
            <li>
                <a href="{% url 'cart_detail' %}">
                    Cart (<span id="cart-count">0</span>)
                </a>
            </li>

        </ul>
    </nav>

    <!-- PAGE CONTENT -->
    <div class="container">

        {% for category in categories %}
        <section id="{{ category.slug }}" class="category-section">
            <h2>{{ category.name }}</h2>

            <div class="products">
                {% for product in category.products.all %}
                <div class="product-card">
                    <div class="card-img">
                        <img src="{{ product.product_img.url }}" alt="{{ product.name }}">
                    </div>
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <strong>KSH{{ product.price }}</strong>
                    <button class="btn add-to-cart" data-product-id="{{ product.id }}">
                        Add to Cart
                    </button>

                </div>
                {% empty %}
                <p>No products in this category.</p>
                {% endfor %}
            </div>
        </section>
        {% endfor %}

    </div>

</body>

</html>